@import url(https://fonts.googleapis.com/css?family=Cookie);

[v-cloak] {
  display: none;
}

*{
	margin:0;
	padding:0;
}

body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:center;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}

/*-------------------------
	Форма заказа
--------------------------*/

#main{
	background-color: #61a1bc;
	border-radius: 2px;
	box-shadow: 0 1px 1px #ccc;
	width: 550px;
	padding: 35px 60px;
	margin: 50px auto;
}

#main h1{
	color:#fff;
	font-size:45px;
	font-family:'Cookie', cursive;
	font-weight: normal;
	line-height:1;
	text-shadow:0 3px 0 rgba(0,0,0,0.1);
}

#main ul{
	list-style:none;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	margin:20px 0 15px;
}

#main ul li{
	padding:15px 20px;
	/*#e35885*/
	background-color: #ec9db7;
	margin-bottom:8px;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	cursor:pointer;
}

#main ul li span{
	float:right;
}

#main ul li.active{
	background-color:#8ec16d;
}

div.total{
	border-top:1px solid rgba(255,255,255,0.5);
	padding:15px 30px;
	font-size:20px;
	font-weight:bold;
	text-align: left;
	color:#fff;
}

div.total span{
	float:right;
}
textarea, input
{
	width: 100%;
	border-radius: 8px;
	padding: 3px 3px 3px 3px;
	background-color: black;
	/*rgba(255,255,255,0.5)*/
	font-size: 23px;
	color: #8ec16d;
}
label
{
	color: #fff;
    margin: ;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Cookie', cursive;
    margin-bottom: 25px;	
}
input
{
	height: 45px;
}
textarea
{
	height: 300px;
}
.section
{
	margin-bottom:20px;
}
button
{
	padding:10px 15px;
	/*#e35885*/
	background-color: #8ec16d;
	margin-bottom:8px;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	cursor:pointer;
	list-style:none;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	text-align: left;
	margin:20px 0 15px;	
	display: block;
	float: right;
	border-radius: 7px;
}